:root {
  --gray: #424242;
  --gray-light: #4c4c4c;
  --gray-dark: #1b1b1b;
}

.apps-container {
  margin: 0 auto;
  position: relative;
  max-width: 100vw;
  margin-bottom: 30px;
}

/* ------------------------------------------- */
/* hero styling */
/* ------------------------------------------- */

.apps-hero {
  width: 100%;
  height: 550px;
  padding: 0px 16px;

  background-image: linear-gradient(to bottom, #499add, #4e61c0);

  display: flex;
  justify-content: space-around;
}

.apps-hero-content {
  color: #fff;
  width: 40%;
  padding: 80px 0px;
}

.apps-title {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 24px;
}

.apps-hero-content p {
  max-width: 500px;
  margin-bottom: 20px;
}

.apps-hero button {
  border: none;
  background-color: var(--gray);

  color: #fff;

  padding: 12px 20px;
  border-radius: 5px;
}

.apps-hero button:hover {
  background-color: var(--gray-light);
}

.apps-hero button:active {
  background-color: var(--gray-dark);
}

.apps-hero .img-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.apps-hero img {
  width: 400px;
}

@media (max-width: 992px) {
  .apps-hero {
    height: 100%;
    padding: 0px 0px 0px 16px;
    flex-direction: column;
    align-items: center;
  }

  .apps-hero-content {
    color: #fff;
    width: 100%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .apps-hero img {
    width: 260px;
  }
}

/* ------------------------------------------- */
/* white banner styling */
/* ------------------------------------------- */

.white-banner {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.white-banner button {
  background-color: var(--gray);
  color: #fff;
  border: none;

  padding: 12px 16px;
  border-radius: 5px;
}

.white-banner button:hover {
  background-color: var(--gray-light);
}

.white-banner button:active {
  background-color: var(--gray-dark);
}

/* ------------------------------------------- */
/* service banner styling */
/* ------------------------------------------- */

.service-banner {
  background-color: #4e61c0;
  color: #fff;
  width: 100%;
  padding: 60px 30px 50px 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.service-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.service-banner-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.service-banner-header h1 {
  font-size: 1.6rem;
}

.service-banner-items {
  display: flex;
  gap: 80px;
}

.service-banner-items i {
  background-color: #fff;
  color: #4e61c0;

  width: 80px;
  height: 80px;
  font-size: 2rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.service-banner-items div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 992px) {
  .service-banner {
    padding: 40px 30px 40px 30px;
  }

  .service-banner-items {
    flex-direction: column;
    gap: 30px;
  }

  .service-banner-items i {
    width: 50px;
    height: 50px;
    font-size: 1.25rem;
  }
}

/* ------------------------------------------- */
/* apps gallery styling */
/* ------------------------------------------- */

.apps-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 100px;
  gap: 40px;
}

.apps-gallery-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.apps-gallery-container {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.apps-gallery .column {
  flex: 1;
}

.apps-gallery-item {
  position: relative;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.apps-gallery-item h1 {
  font-size: 2rem;
}

.apps-item-overlay {
  content: '';
  top: 0;
  left: 0;
  position: absolute;

  color: #fff;
  width: 100%;
  height: 100%;
  padding: 100px 50px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  background: rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
}

.apps-gallery-item:hover {
  transform: scale(0.9);
}

.apps-gallery-item:hover .apps-item-overlay {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}

.apps-gallery img {
  width: 100%;
  display: block;
}

@media (max-width: 992px) {
  .apps-gallery {
    padding: 30px 0px 0px 0px;
  }

  .apps-gallery-container {
    flex-direction: column;
  }

  .apps-gallery-item:hover .apps-item-overlay {
    border: 16px solid #fff;
  }
}
